/* body {
  color: green;
}
h1,
h2 {
  color: red;
  font-style: italic;
}
p {
  color: purple;
}
#response {
  color: yellow;
}
.sec {
  color: orange;
  font-style: italic;
} */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  /*COLORS */
  --AUTH-BG-COLOR: #f0f4f7;
  --PRIMARY-COLOR: #212529;
  --SECONDARY-COLOR: #495057;
  --LIGHT-COLOR: #d9d9d9;
  --BG-COLOR: #fff;
  --BG-BANNER: #3e91e3;
  --CARD-SHADOW-COLOR: #1864ab;
  --CARD-NUMBER-COLOR: #00bcef;
  --BG-HEADER-COLOR: linear-gradient(var(--BG-COLOR), rgba(0, 204, 255, 0.1));
  --HEADER-SHADOW-COLOR: #dee2e6;
  --HEADER-BORDER-COLOR: #dee2e6;
  --TEXT-COLOR: #212529;
  --TEXT-FADE-COLOR: #495057;
  --FEATURES-LINK-COLOR: #1864ab;
  --BTN-SIGNUP-COLOR: #00bcef;

  /* FONTS */
  --FS: 1rem;
  --FS-M: 1.5rem;
  --FS-L: 2rem;
  --FS-XL: 4rem;
}
img {
  display: block;
}
body {
  font-family: "Times New Roman", Times, serif;
  color: var(--PRIMARY-COLOR);
  direction: "ltr";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__nav {
  border-bottom: 1px solid var(--LIGHT-COLOR);
  box-shadow: 0 1px 2px 0 var(--LIGHT-COLOR);
  position: fixed;
  width: 100%;
  background-color: var(--BG-COLOR);
  top: 0;
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  align-items: center;
}
header {
  background-image: url("../images/cloud.png"),
    linear-gradient(var(--BG-COLOR), var(--BG-BANNER));
  background-position: bottom -120px left 120%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
}
.header__ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.navigations-links li {
  display: inline-block;
  padding: 0.4rem;
}

.header-nav li {
  display: inline-block;
  padding: 0.5rem;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--PRIMARY-COLOR);
}
a:hover {
  text-decoration: underline;
  color: var(--SECONDARY-COLOR);
}

h1,
h3 {
  text-align: center;
}
h1 {
  /* font-size: 52px; */
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  /* text-align: center; */
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
main {
  flex-grow: 1;
}

.features--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.features__figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--card-number-color);
}
.features__img {
  width: 80%;
  height: auto;
  min-width: 500px;
}

.features_items {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  width: 50%;
}
.features_item {
  padding: 3rem;
  margin: 2rem;
  box-shadow: 0 0 8px 0 var(--BG-BANNER);
  border-radius: 8px;
}
.features_header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.features_link:any-link {
  display: block;
  text-decoration: underline;
  color: var(--BG-BANNER);
}
.cards {
  background-image: url("../images/stat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15em 0;
}

.cards__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}
.card {
  background-color: var(--BG-COLOR);
  border-radius: 16px;
  box-shadow: 0 0 16px -3px var(--CARD-SHADOW-COLOR);
  padding: 16px 0;
  text-align: center;
  width: max(400px, 20vw);
}

.card__number {
  color: var(--CARD-NUMBER-COLOR);
  font-size: 2rem;
  font-weight: bold;
}
.card__item {
  font-size: 1.5rem;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    position: relative;
  }
  .header__ul {
    flex-direction: column;
  }
}

/* print screen or all*/
@media all and (max-width: 1024px) /*and (min-width: 768px) */ {
  .features--grid {
    grid-template-columns: 1fr;
  }
  .features__figure {
    justify-content: center;
  }
  .features__img {
    width: 70%;
  }
  .features_items {
    margin-right: 20%;
    width: 50%;
  }
}
